<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>TURBODRIVER</title>

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <a href="https://lastexception.com/" target="_blank" class="btn">lastException Assistant</a>
      <a href="https://wickedwhimsmod.com/" target="_blank" class="btn">WickedWhims</a>
      <a href="https://wonderfulwhims.com/" target="_blank" class="btn">WonderfulWhims</a>
      <a href="http://modthesims.info/browse.php?gs=0&u=9833124" target="_blank" class="btn">The Sims 4 Mods</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">TURBODRIVER 2018-2020 | <a href="https://pages.github.com">Cayman Theme</a></span>
      </footer>
    </main>
  </body>
</html>
